.deps
.libs/
.vagrant/
Makefile
Makefile.fragments
Makefile.global
Makefile.objects
acinclude.m4
aclocal.m4
autom4te.cache/
build/
config.guess
config.h
config.h.in
config.nice
config.status
config.sub
configure
configure.in
configure.ac
coverage_html/
dev_rfc.trc
dist/
!docs/Makefile
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
modules/
run-tests.php
*.info
*.la
*.lo
*.loT
*.trc
playground/
todo.txt
.gdbinit
.vscode
*.o
